<ion-content>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="thumbs-up-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col id="fotoPerfilCol">
        <ion-icon name="person-outline" id="fotoPerfilIcon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="nome">Patrick</ion-col>

    </ion-row>
    <ion-row>
      <ion-col id="Parceiros">Parcerias </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i1">
        <img src = "https://www.svgrepo.com/show/473800/steam.svg" >
      </ion-col>
      <ion-col class="i2">
        <img src = "https://www.svgrepo.com/show/341792/epic-games.svg" >
      </ion-col>
      <ion-col class="i1">
        <img src = "https://www.svgrepo.com/show/330343/ea.svg" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i2">
        <img src = "https://www.svgrepo.com/show/473754/playstation.svg" >
      </ion-col>
      <ion-col class="i1">
        <img src = "https://www.svgrepo.com/show/473838/xbox.svg" >
      </ion-col>
      <ion-col class="i3">
        <img src = "https://www.svgrepo.com/show/349545/ubisoft.svg" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i1">
        <img src = "https://www.svgrepo.com/show/394324/origin.svg" >
      </ion-col>
      <ion-col class="i2">
        <img src = "https://www.svgrepo.com/show/313544/battle-net.svg" >
      </ion-col>
      <ion-col class="i1">
       <img src = "https://www.svgrepo.com/show/341859/gog-com.svg" >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>