<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/Logo/DigitalGame.jpg" alt="logo"  class="logo-img">
    </ion-buttons>

    <ion-title class="ion-text-center">
      DIGITAL GAME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img alt="" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1086940/header.jpg?t=1702007647" />
  <ion-card-header>
    <ion-card-title>Baldurs Gate</ion-card-title>

    <ion-card-subtitle>R$199.99</ion-card-subtitle>

  </ion-card-header>
  <ion-button>
  <ion-card-content>
    COMPRE AGORA
  </ion-card-content>
 </ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2208920/header.jpg?t=1697654233" />
  <ion-card-header>
    <ion-card-title>Assassin's Creed Valhalla</ion-card-title>
    <ion-card-subtitle>R$199.99</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/812140/header.jpg?t=1692034673" />
  <ion-card-header>
    <ion-card-title>Assassin's Creed Odyssey</ion-card-title>
    <ion-card-subtitle>R$179.99</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
  
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/582160/header.jpg?t=1692034680" />
  <ion-card-header>
    <ion-card-title>Assassin's Creed Origins</ion-card-title>
    <ion-card-subtitle>R$179.99</ion-card-subtitle>
  </ion-card-header>
  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1817070/header.jpg?t=1700663145" />
  <ion-card-header>
    <ion-card-title>Marvel’s Spider-Man Remastered</ion-card-title>
    <ion-card-subtitle>R$249,90</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1817190/header.jpg?t=1700663089" />
  <ion-card-header>
    <ion-card-title>Marvel’s Spider-Man: Miles Morales</ion-card-title>
    <ion-card-subtitle>R$199,90</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2344520/header.jpg?t=1701194709" />
  <ion-card-header>
    <ion-card-title>Diablo IV</ion-card-title>
    <ion-card-subtitle>R$349,90</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/976310/header.jpg?t=1699983920" />
  <ion-card-header>
    <ion-card-title>Mortal Kombat 11</ion-card-title>
    <ion-card-subtitle>R$229,99</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1174180/header.jpg?t=1695140956" />
  <ion-card-header>
    <ion-card-title>Red Dead Redemption 2</ion-card-title>
    <ion-card-subtitle>R$299,90</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/990080/header.jpg?t=1699983982" />
  <ion-card-header>
    <ion-card-title>Hogwarts Legacy</ion-card-title>
    <ion-card-subtitle>R$249,99</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
</ion-card>
<ion-card>
  <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1593500/header.jpg?t=1695758729" />
  <ion-card-header>
    <ion-card-title>God of War</ion-card-title>
    <ion-card-subtitle>R$199,90</ion-card-subtitle>
  </ion-card-header>

  <ion-button>
    <ion-card-content>
      COMPRE AGORA
    </ion-card-content>
   </ion-button>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2050650/header_alt_assets_0.jpg?t=1701394560" />
    <ion-card-header>
      <ion-card-title>Resident Evil 4</ion-card-title>
      <ion-card-subtitle>R$249,00</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1196590/header.jpg?t=1701395391" />
    <ion-card-header>
      <ion-card-title>Resident Evil Village</ion-card-title>
      <ion-card-subtitle>R$139,90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1145360/header.jpg?t=1680293801" />
    <ion-card-header>
      <ion-card-title>Hades</ion-card-title>
      <ion-card-subtitle>R$73,90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1627720/header.jpg?t=1701760966" />
    <ion-card-header>
      <ion-card-title>Lies of P</ion-card-title>
      <ion-card-subtitle>R$249,90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/367520/header.jpg?t=1695270428" />
    <ion-card-header>
      <ion-card-title>Hollow Knight</ion-card-title>
      <ion-card-subtitle>R$46,99</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1091500/header_alt_assets_5_brazilian.jpg?t=1702306332" />
    <ion-card-header>
      <ion-card-title>Cyberpunk 2077</ion-card-title>
      <ion-card-subtitle>R$199,90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1259420/header.jpg?t=1698779323" />
    <ion-card-header>
      <ion-card-title>Days Gone</ion-card-title>
      <ion-card-subtitle>R$199,90</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1716740/header.jpg?t=1700075960" />
    <ion-card-header>
      <ion-card-title>Starfield</ion-card-title>
      <ion-card-subtitle>R$299,00</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.cloudflare.steamstatic.com/steam/apps/489830/header.jpg?t=1701807334" />
    <ion-card-header>
      <ion-card-title>The Elder Scrolls V: Skyrim Special Edition</ion-card-title>
      <ion-card-subtitle>R$149,00</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button>
      <ion-card-content>
        COMPRE AGORA
      </ion-card-content>
     </ion-button>
  </ion-card>
</ion-card>
</ion-content>