<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <img src="assets/Logo/DigitalGame.jpg" alt="logo" class="logo-img1">
      </ion-buttons>
      <ion-title class="ion-text-center">DIGITAL GAME</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-text-center">
    <ion-img src="assets/Logo/DigitalGame.jpg" alt="logo"> </ion-img>
    <div class="fullscreen-container">
     
      <div class="button-container">
        <ion-button>Login</ion-button>
        <ion-button class="Cadastro">Cadastro</ion-button>
      </div>
    </div>
  </ion-content>
  
