.H1{
    text-decoration:line-through;
    
    }

    ion-toolbar{
        --background: rgba(0, 0, 0, 0.842);
        
          }
          ion-title{
        
            color: white;
          }

          .logo-img1{

            width: 20%;
        
        }
        ion-button{
   
          --background:rgb(17, 44, 53);
          width: 200px;
          height: 60px;
          margin-left: 5px;
            }
            .h1{



            }
            ion-card{

              --ion-background-color: rgb(29, 28, 28);
            }
            ion-content{

              --ion-background-color: black;
          }